@import "~materialize-css/sass/components/color-variables";

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary-color: #342f86 !default;
$primary-color-light: #B2EBF2;
$primary-color-dark: #0097A7;
$background-color: whitesmoke;
